.blogs-info {
    display: flex;
    width: 280px;
    height: 440px;
    margin-left: 30px;
    margin-bottom: 15px;
    background: white;
    text-align:  center;
    flex-wrap: wrap;
    flex-direction: column;/*как сделать пробелы*/
}
.blogs-block {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
}
.times-view {
    position: relative;
    top: 30px;
    font-size: 14px;
    color: #a1a3a3;
}
.info-about {
    position: relative;
    height: 130px;
    top: 20px;
    font-size: 21.5px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
}
.info-about:hover {
    color: rgb(126, 194, 201); 
}
.titles {
    position: relative;
    font-size: 11px;
    color: #ec346d;
    font-weight: bold;
    top: 8px;
}
#blogs {
    padding-top: 5px;
}
#first_element {
    margin-left: 0;
}