#button-add-more-cards {
    width: 200px;
    height: 49px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(131, 210, 218) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    color: rgb(255, 255, 255);
    user-select: none;
} 
#button-add-more-cards:hover {
    cursor: pointer;
}
#button-add-more-cards:active {
    color: rgb(128,207,214);
}
#button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}