#categories li {
    margin: auto;
    display: inline;
    padding-right: 20.5px;
}
#categories {
    display: flex;
    justify-content: center;
    position: relative;
    right: 190px;
    padding-top: 22px;
    font-size: 15px;
    font-weight: 600;
    font-stretch: 100%;
}
#categories a:hover {
    color: rgb(126, 194, 201);
}
#categories a{
    color: #000025;
    text-decoration: none;
}