#categories li {
    margin: auto;
    display: inline;
    padding-left: 25px;
}
#categories ul {
    padding-left: 120px;
    padding-right: 120px;
}
#categories {
    display: flex;
    position: relative;
    right: 20px;
    padding-top: 17px;
    font-size: 15px;
    font-weight: bold;
}
#categories span:hover {
    color: rgb(126, 194, 201);
  }