header {
    margin: 0;
    height: 70px;
    width: 100%;
    background: hsl(0, 0%, 13%);
    color: white;
    display: flex;
}
#head-full {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    position: relative;
    padding-left: 150px;
}
#sing-up-and-make-blog {
    width: 300px;
    font-size: 22px;
    position: relative;
    top: 25px;
    right: 10px;
}
#inf-head {
    width: 400px;
    display: inline-flex;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    top: 11px;
    right: 228px;
}
#sait-name {
    font-size: 49px;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 10px;
}
#sait-name a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.categori-head {
    padding-left: 22px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.categori-head:hover {
    color: rgb(126, 194, 201); 
}
.fa-pen-square span{
    position: relative;
    font-family: sans-serif;
    font-size: 13px;
    bottom: 4px;
    left: 5px;
    color: white;
}
.fa-pen-square {
    padding-right: 2px;
    color: white;
}
#blog-search {
    text-decoration: none;
}
.fa-search {
    color: white;
    position: relative;
    right: 30px; 
}
.fa-search:hover {
    color: rgb(126, 194, 201); 
}
#blog-write {
    position: relative;
    right: 20px;
    text-decoration: none;
}
#blog-write:hover {
    color: rgb(126, 194, 201); 
}
.fa-pen-square:hover {
    color: rgb(126, 194, 201); 
}
.fa-pen-square span:hover {
    color: rgb(126, 194, 201); 
}
#entrance {
    position: relative;
    font-size: 13px;
    bottom: 5px;
    font-weight: bold;
    width: 64px;
    height: 30px;
    color: white;
    text-decoration: none;
    right: 7px;
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(104, 180, 189) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    color: rgb(255, 255, 255);
    user-select: none;
    line-height: 30px;
}
#entrance:hover {
    cursor: pointer;
    background: rgb(128,207,214); 
}
@media (max-width: 1520px) {
    #head-full {
        padding-left: 140px;
    }
}
@media (max-width: 1510px) {
    #head-full {
        padding-left: 135px;
    }
}
@media (max-width: 1500px) {
    #head-full {
        padding-left: 130px;
    }
}
@media (max-width: 1490px) {
    #head-full {
        padding-left: 125px;
    }
}
@media (max-width: 1480px) {
    #head-full {
        padding-left: 120px;
    }
}
@media (max-width: 1460px) {
    #head-full {
        padding-left: 110px;
    }
}
@media (max-width: 1440px) {
    #head-full {
        padding-left: 100px;
    }
}
@media (max-width: 1420px) {
    #head-full {
        padding-left: 90px;
    }
}
@media (max-width: 1400px) {
    #head-full {
        padding-left: 80px;
    }
}
@media (max-width: 1380px) {
    #head-full {
        padding-left: 70px;
    }
}
@media (max-width: 1360px) {
    #head-full {
        padding-left: 60px;
    }
}
@media (max-width: 1350px) {
    #head-full {
        padding-left: 55px;
    }
    #inf-head {
        right: 218px;
    }
}
@media (max-width: 1340px) {
    #head-full {
        padding-left: 50px;
    }
    #inf-head {
        right: 208px;
    }
}
@media (max-width: 1330px) {
    #head-full {
        padding-left: 45px;
    }
    #inf-head {
        right: 198px;
    }
}
@media (max-width: 1320px) {
    #head-full {
        padding-left: 40px;
    }
    #inf-head {
        right: 188px;
    }
}
@media (max-width: 1310px) {
    #head-full {
        padding-left: 35px;
    }
}
@media (max-width: 1300px) {
    #head-full {
        padding-left: 30px;
    }
    #inf-head {
        right: 178px;
    }
}
@media (max-width: 1290px) {
    #head-full {
        padding-left: 25px;
    }
    #inf-head {
        right: 180px;
    }
}
@media (max-width: 1280px) {
    #head-full {
        padding-left: 20px;
    }
    #inf-head {
        right: 198px;
    }
}
@media (max-width: 1270px) {
    #head-full {
        padding-left: 15px;
    }
    #inf-head {
        right: 198px;
    }
}
@media (max-width: 1260px) {
    #head-full {
        padding-left: 10px;
    }
    #inf-head {
        right: 208px;
    }
}
@media (max-width: 1250px) {
    #head-full {
        padding-left: 5px;
    }
    #inf-head {
        right: 198px;
    }
}
@media (max-width: 1240px) {
    #head-full {
        padding-left: 0px;
    }
    #inf-head {
        right: 188px;
    }
}
@media (max-width: 1150px) {
    #inf-head {
        right: 158px;
    }
}
@media (max-width: 1100px) {
    #inf-head {
        right: 88px;
    }
}
@media (max-width: 1085px) {
    #inf-head {
        right: 128px;
    }
}
@media (max-width: 1050px) {
    .fa-pen-square span {
        display: none;
    }
    #sing-up-and-make-blog {
        left: 0px;
        width: 150px;
    }
    #inf-head {
        display: none;
    }
}
