header {
    margin: 0;
    height: 70px;
    width: 100%;
    background: hsl(0, 0%, 13%);
    color: white;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}
#sait-name {
    font-size: 50px;
    width: 100px;
}
#sait-name span {
    position: relative;
    top: 5px;
    font-weight: bold;
}
header ul{
    display: inline-flex;
}
#sing-up-and-make-blog {
    width: 300px;
    position: relative;
    left: 500px;
    top: 12px;
    font-size: 23px;
}
#inf-head {
    width: 400px;
    position: relative;
    top: 18px;
}
#sait-name {
    display: flex;
    margin: 0;
    width: 100px;
    position: relative;
    top: 11px;
    font-weight: bold;
}
.categori-head {
    padding-left: 22px
}
.fa-pen-square span{
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
    bottom: 4px;
}
.fa-pen-square {
    padding-left: 2px;
    padding-right: 2px;
}
#entrance {
    position: relative;
    font-size: 13px;
    bottom: 4px;
    font-weight: bold;
}