#information {
    display: flex;
    height: 368px;
    width: 100%;
    position: relative;
    background: hsl(0, 0%, 13%);
    justify-content: center;
}
#information ul {
    padding-top: 70px;
    margin: 0;
}
#inf-categories {
    position: relative;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#inf-categories a {
    padding-left: 20px;
    text-decoration: none;
    color: #ececec;
}
#inf-categories a:hover {
    color: rgb(126, 194, 201);
}
#inf {
    position: relative;
    width: 780px;
    font-size: 15px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}
#inf a {
    padding-left: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #a1a3a3;
}
#inf a:hover {
    color: rgb(126, 194, 201);
}
#icon-web {
    font-size: 32px;
    padding-top: 50px;
    text-align: center;
}
#icon-web a {
    color: #ececec;
    text-decoration: none;
}
#icon-web i {
    padding-left: 30px;
}
#traid-mark {
    text-align: center;
    padding-top: 50px;
    color: #ececec;
    font-size: 13px;
}