#information {
    height: 270px;
    width: 100%;
    position: relative;
    background: hsl(0, 0%, 13%);
}
#information ul {
    padding-top: 70px;
    margin: 0;
}
#inf-categories {
    position: relative;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
#inf-categories a {
    padding-left: 20px;
    text-decoration: none;
    color: #ececec;
}
#inf-categories a:hover {
    color: rgb(126, 194, 201);
}
#inf {
    position: relative;
    width: 800px;
    font-size: 15px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}
#inf a {
    padding-left: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #a1a3a3;
}
#inf a:hover {
    color: rgb(126, 194, 201);
}