#information {
    height: 270px;
    width: 100%;
    position: relative;
    background: hsl(0, 0%, 13%);
}
#information ul {
    padding-top: 70px;
    margin: 0;
}
#inf-categories {
    position: relative;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
#inf-categories span {
    padding-left: 20px;
}
#inf {
    position: relative;
    width: 800px;
    font-size: 15px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    color: #a1a3a3;
}
#inf span {
    padding-left: 20px;
    padding-bottom: 20px;
}