header {
    margin: 0;
    height: 60px;
    width: 100%;
    background: #212121;
    color: white;
}
#mel {
    font-size: 40px;
}
header ul{
    display: inline-flex;
}
#Sing-up_and_make_blog {
    position: relative;
    bottom: 10px;
    padding-left: 900px
}