li {
    list-style-type: none; /* Убираем маркеры */
    margin: 0;
}
body {
    margin:0;
    background:whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul {
    margin-left: 0;
    padding-left: 0;
}